.user-container {
    min-height: 100%;
    display: contents;
    flex-direction: column;
}

.user-container h1 {
    color: #333;
    margin-top: 50px;
}

.search-bar {
    margin-bottom: 20px;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
}

.user-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    background-color: #5f6f52;
    display: flex;
    color: white;


}

.user-item ul {
    list-style-type: none;
    padding: 0;
}

.user-item ul li {
    margin-bottom: 5px;
}

.user-item .button-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
}


.user-item .button-actions button {

    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.user-item .button-actions .profile {
    background-color: rgb(75 228 29 / 76%);
    color: black
}

.user-item .button-actions .delete {
    background-color: #db2828eb;
    color: white;
}

.user-item .button-actions button:hover {
    filter: brightness(0.8);

}