.item_container {
    margin: 10px;
    position: relative;
    display: grid;
    justify-content: space-around;
    width: 320px;
    height: 480px;
    background: rgb(215, 229, 237);
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    align-content: stretch;
    align-items: baseline;
    justify-items: center;
}


.item_container.imgBox {
    position: relative;
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.item_container .imgBox img {
    max-width: 100%;

    transition: .5s;
}

.content_box {
    margin: 10px;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    flex-grow: 1;
}

.content_box h3 {
    margin: 10px;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content_box h5 {
    margin: 10px;

}

.content_box h4 {
    margin: 10px;

}

.content_box button {
    margin: 10px;
}

.item_container:hover {
    transform: scale(1.02);
    transition: 0, 6s;
}