.nav {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 5px 1px 5px 1px black;
    background: rgb(255, 255, 255);
}

.nav-logo img {
    margin: 10px;
    max-width: 50px;
    height: auto;
}

.nav-logo p {
    margin: 10px;
    color: #171717;
    font-size: 38px;
    font-weight: 600px;
}

.nav-menu {
    margin: 10px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #171717;
    font-size: 20px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif
}

.nav-menu li {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    margin: 10px;
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: rgb(215, 229, 237);
}

.nav-logo {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-login-cart img {
    margin: 10px;
    max-width: 50px;
    height: auto;
}

.nav-login-cart {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-login-cart button {
    margin: 10px;
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #171717;
    border-radius: 75px;
    color: rgb(23, 20, 20);
    font-size: 20px;
    font-weight: 500px;
    background: rgb(215, 229, 237);
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-login-cart button:hover {
    background-color: #e0e0e0;
    ;
}

.nav-cart-count {
    margin: 10px;
    width: 22px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -45px;
    border-radius: 11px;
    background: rgb(215, 229, 237);
    color: black;

}