* {

  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;

}

.App {
  text-align: center;
}

.body {


  background-image: url('/src/Components/Assets/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}