.order-list {
    display: flex;
    flex-wrap: wrap;
}

.order-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
}

.order-item ul {
    list-style-type: none;
    padding: 0;
}

.order-item ul li {
    margin-bottom: 5px;
}