.cart-container {
    display: contents;
    flex-direction: column;
}

.cart-container h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.cart-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
}

.cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    background-color: #5f6f52;
    display: flex;
    align-items: stretch;
}

.cart-item-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cart-item-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item-details {
    color: white;
    flex-grow: 1;
}


.cart-item-details p {
    margin: 0 0 10px;
}

.No-Data {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.Apply-Bonus-Button,
.Send-Order-Button {
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.Apply-Bonus-Button {
    background-color: rgb(75 228 29 / 76%);
    color: black;
}

.Send-Order-Button {
    background-color: rgb(148, 42, 42);
    color: #fefae0;
}

.delete-order-button {
    background-color: #e90e0e;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    align-self: flex-start;
}

.delete-order-button:hover {
    filter: brightness(0.8);
}

.Apply-Bonus-Button:hover,
.Send-Order-Button:hover {
    filter: brightness(0.8);
}

.Total-Price {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.form-data {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #5f6f52;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: white;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
}