.cart-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background: #fefae0;
    border-radius: 10px;
}

.cart-item .cart-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item .cart-item-image {
    width: 100px;
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item button {
    background-color: rgb(239, 11, 11);
    color: #fefae0;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;

}

.cart-item button:hover {
    background-color: #cc0000;
}

.Total-Price {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.Send-Order-Button {
    background-color: rgb(148, 42, 42);
    color: #fefae0;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Apply-Bonus-Button,
.Send-Order-Button {
    margin: 0;
    /* Reset margin */
}

.Send-Order-Button:hover {
    background-color: #e0e0e0;
}

.No-Data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.No-Data p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.Apply-Bonus-Button {

    background-color: rgb(75 228 29 / 76%);
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Apply-Bonus-Button:hover {
    background-color: #65b228;
    /* Add hover effect for consistency */
}