.profile-container {
    display: flex;
    background: #435336;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    margin: 50px auto;
}

.profile-container.loading {
    justify-content: center;
    align-items: center;
    color: #fefae0;
}

.profile-container h2 {
    margin-bottom: 20px;
    color: white
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-form div {
    margin-bottom: 10px;
    width: 100%;
}

.profile-form label {
    margin-bottom: 5px;
    font-weight: bold;
    align-self: flex-start;
    color: white;
}

.profile-form input {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    background-color: #fefae0;
}

.profile-form:focus {
    border-color: #5f6f52;
    outline: none;
    box-shadow: 0 0 5px #435336;
}

.profile-form button {
    padding: 10px;
    background-color: rgb(148, 42, 42);
    color: #fefae0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

.profile-form button:hover {
    background-color: #e0e0e0;
}