.form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fefae0;
}

/* Cím stílusok */
.title,
.subTitle {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.subTitle {
    font-size: 18px;
    color: black;
}

/* Input mezők stílusai */
.input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input::placeholder {
    color: rgb(245, 183, 183);

}

.input:focus {
    border-color: #5f6f52;
    outline: none;
    box-shadow: 0 0 5px #5f6f52;
}

/* Gomb stílusok */
.submit {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(148, 42, 42);
    color: #fefae0;
    font-size: 16px;
    cursor: pointer;
}

.submit:hover {
    background-color: #e0e0e0;
}

/* Link stílusok */
.link-account {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.link-account a {
    color: rgb(148, 42, 42);
    text-decoration: none;
}

.link-account a:hover {
    text-decoration: underline;
}

/* Hibaüzenet stílusok */
.error {
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}