.produtsDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 70vh;

}

.data {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}